body {
  background-color: #849d8f;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.33;
  color: #fefefe;
  border: none;
  border-radius: 10%/40%;
  padding: 15px 25px;
  /* display: inline-block; */
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-color: #f8f7f4;
}



/*------------------------------ main-header ------------------------------ */

.main-header {
  /* min-height: 73px; */
  width: 100%;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
}

.main-nav.wrapper {
  display: flex;
  align-items: center;
}

.site-info-wrapper,
.cart-table-wrapper {
  display: none;
}

.main-logo {
  margin-right: 24px;
  margin-top: 9px;
}

/*---------- site-menu ---------- */

.site-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
  position: relative;
}

.site-menu-link {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  line-height: 32px;
  border-radius: 17px;
  padding: 6.5px 13px;
  margin-right: 6px;
  line-height: 1.13px;
}

.site-menu-link:not(:hover) .site-menu-text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-menu-link:hover,
.site-menu-link:focus {
  color: #323232;
  background-color: #f7f6f3;
}


/*---------- main-menu ---------- */

.menu-wrapper {
  /* box-shadow: 0 0 0 3px red; */
  /* top: 50px; */
  /* left: 0; */
  display: none;
  position: absolute;
  padding-top: 15px;
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 147px;
}

.open-main-menu-link:hover + .menu-wrapper,
.open-main-menu-link:focus + .menu-wrapper,
/* .open-main-menu-link:focus-within + .menu-wrapper, */
.site-menu-item:focus-within > .menu-wrapper,
.menu-wrapper:hover,
.menu-wrapper:focus-within {
  display: block;
}

.main-menu-link {
  font-size: 14px;
  font-weight: normal;
  color: #323232;
  line-height: 28px;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
}

.main-menu-link:hover,
.main-menu-link:focus {
  background-color: #fbded8;
}

.main-menu-item:first-child .main-menu-link {
  font-weight: 700;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.main-menu-item:last-child .main-menu-link {
  border-radius: 0 0 5px 5px;
}

.main-menu-item:first-child .main-menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 128px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

/*---------- user-menu ---------- */

.user-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu-item {
  position: relative;
}

.user-menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 6.5px 13px;
  margin-right: 6px;
  background:rgba(255, 255, 255, 0.2);
}

.search-link {
  width: 32px;
  padding: 7.5px 0;
}

.user-menu-text {
  margin-left: 7px;
}

.user-menu-link:hover {
  color: #333333;
  background-color: #f8f7f4;
}

.user-menu-link:hover .icon {
  fill: #000000;
}

/*---------- search-form ---------- */

.search-link {
  position: relative;
}

.search-form-wrapper {
  position: absolute;
  display: none;
  padding-top: 15px;
  right: 0;
  bottom: -95px;
}

.search-form {
  width: 341px;
  height: 84px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-link:hover + .search-form-wrapper,
.search-form-wrapper:hover {
  display: block;
}

.search-form-item {
  width: 311px;
  /* height: 44px; */
  padding-left: 10px;
  box-sizing: border-box;
  margin: 20px 15px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #999999;
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

/*---------- login-form ---------- */

.login-form-wrapper {
  position: absolute;
  top: 31px;
  right: 7px;
  /* box-shadow: 0 0 0 3px red; */
  padding-top: 15px;
  display: none;
}

.login-link:hover + .login-form-wrapper,
.login-form-wrapper:hover {
  display: block;
}

.login-form {
  width: 277px;
  box-sizing: border-box;
  border-radius: 5.1px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 19px 20px 17px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.login-form-item {
  box-sizing: border-box;
  width: 241px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  margin-bottom: 20px;
  padding: 16px 0 16px 15px;
}

.login-form-button {
  width: 100px;
  border-radius: 20px/25px;
}

.login-form-text {
  width: 120px;
  margin: 0;
  padding: 0;
}

.login-form-links {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  color: #323232;
  text-decoration: underline;
  margin-bottom: 8px;
}














/*---------- site-info ---------- */

.work-hours {
  font-size: 14px;
  font-weight: bold;
}

.phone-number {
  font-size: 22px;
  font-weight: bold;
}