body {
  background-color: #849d8f;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #ffffff;
  position: relative;
  
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fefefe;
  border: none;
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
  vertical-align:middle;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 1px 2px 0 #ac1000;
  border-radius: 40px;
}

.button:hover {
  background:  linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 #ac1000;
}

.button:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  box-shadow: inset 0px 2px 2px 0 #942718;
}

.link {  
  color: #ffffff;
  position: relative;
  /* text-decoration: underline; */
  /* text-decoration-color: rgba(255, 255, 255, 0.2); */
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  /* top: 15px;*/
  bottom: 0;
  left: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}


.link:hover,
.link:focus {
  color: #ffbc9e;
}


/*------------------------------ main-header ------------------------------ */

.main-header {
  /* min-height: 73px; */
  width: 100%;
  margin-bottom: 6px;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
}

.main-nav.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  /* box-shadow: 0 0 0 3px red;  */
}

.main-logo {
  margin-right: 10px;
  margin-top: 9px;
  /* box-shadow: 0 0 0 3px red; */
}

/*---------- site-menu ---------- */

.site-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
  position: relative;
  /* box-shadow: 0 0 0 3px red; */
}

.site-menu-link {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  line-height: 32px;
  border-radius: 17px;
  padding: 6.5px 13px;
  margin-right: 3px;
  line-height: 1.13px;
  z-index: 5;
}

.site-menu-link.current {
  background-color: #d07058;
}

.site-menu-link:not(:hover) .site-menu-text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-menu-link.current .site-menu-text {
  border-bottom: none;
}

.site-menu-link:hover,
.site-menu-link:focus {
  color: #323232;
  background-color: #f7f6f3;     
}

.site-menu-link:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
}

/*---------- main-menu ---------- */

.menu-wrapper {
  position: absolute;
  padding-top: 15px;
  left: -6px;
  top: 15px;
  display: none;
  z-index: 4;
  /* box-shadow: 0 0 0 3px red; */
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 143px;
  padding-bottom: 6px;
}

.open-main-menu-link:hover + .menu-wrapper,
.open-main-menu-link:focus + .menu-wrapper,
.site-menu-item:focus-within > .menu-wrapper,
.menu-wrapper:hover,
.menu-wrapper:focus-within {
  display: block;
}

.main-menu-link {
  font-size: 14px;
  font-weight: normal;
  color: #323232;
  line-height: 28px;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  margin-bottom: 3px;
}

.main-menu-link:hover,
.main-menu-link:focus {
  background-color: #fbded8;
}

.main-menu-link:active {
  background-color: #f6b5a5;
}

.main-menu-link.current {
  background-color: #d07058;
  color: #ffffff;
}

.main-menu-item:first-child .main-menu-link {
  font-weight: 700;
  position: relative;
  border-radius: 5px 5px 0 0;
  padding-top: 6px;
  padding-bottom: 6px;  
}

.main-menu-item:last-child .main-menu-link {
  border-radius: 0 0 5px 5px;
}

.main-menu-item:first-child .main-menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 128px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

/*---------- user-menu ---------- */

.user-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* box-shadow: 0 0 0 3px green; */
}

.user-menu-item {
  position: relative;
}

.user-menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 15px 16px;
  margin-left: 11px;
  background:rgba(255, 255, 255, 0.2);
  position: relative;
}

.cart-link,
.login-link {
  padding-left: 36px;
}

.cart-link.notempty::before {
  content: "";
  width: 21px;
  height: 20px;
  top: 6px;
  left:15px;
  position: absolute;
  background: url("../img/cart-red.svg") 50% 50% no-repeat;
}

.cart-link.notempty:hover::before,
.cart-link.notempty:focus::before {
  background: url("../img/basket-red_black.svg") 50% 50% no-repeat;
}

.cart-link::before,
.login-link::before,
.cart-link.notempty::before {
  content: "";
  width: 21px;
  height: 20px;
  top: 5px;
  left:15px;
  position: absolute;
}


.cart-link::before {
  background: url("../img/basket.svg") 50% 50% no-repeat;
}

.cart-link:hover::before,
.cart-link:focus::before {
  background: url("../img/basket_black.svg") 50% 50% no-repeat;
}

.cart-link.notempty::before {
  background: url("../img/basket-red.svg") 50% 50% no-repeat;
}

.cart-link.notempty:hover::before,
.cart-link.notempty:focus::before {
  background: url("../img/basket-red_black.svg") 50% 50% no-repeat;
}

.login-link::before {
  background: url("../img/entrance.svg") 50% 50% no-repeat;
}

.login-link:hover::before,
.login-link:focus::before {
  background: url("../img/entrance_black.svg") 50% 50% no-repeat;
}

.search-link::before {
  background: url("../img/loupe.svg") 50% 50% no-repeat;
}

.search-link:hover::before,
.search-link:focus::before {
  background: url("../img/loupe_black.svg") 50% 50% no-repeat;
}

.search-link {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.user-menu-text {
  margin-left: 7px;
}

.user-menu-link:hover,
.user-menu-link:focus,
.cart-link.notempty {
  color: #333333;
  background-color: #f8f7f4;
}


/*---------- search-form ---------- */

.search-link {
  position: relative;
}

.search-form-wrapper {
  position: absolute;
  display: none;
  padding-top: 5px;
  right: 0;
  bottom: -87px;
  z-index: 5;
  /* box-shadow: 0 0 0 3px red; */
  
}

.search-form {
  width: 341px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-link:hover + .search-form-wrapper,
.search-link:focus + .search-form-wrapper,
.search-form-wrapper:hover,
.user-menu-item:focus-within > .search-form-wrapper {
  display: block;
}

.form-item {
  font-size: 16px;
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  border: solid 1px rgba(178, 178, 178, 0.52);
  padding: 11px 0 11px 13px;
  color: #323232;
  font-weight: 400;
  font-family: inherit;
  /* font-family: 'Times New Roman', Times, serif; */
}

.form-item::placeholder {
  color: #999999;
}

.form-item:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
  padding: 10px 0 10px 12px;
}

.form-item:focus {
  outline:none;
  border: solid 2px rgba(46, 136, 228, 0.52);
  padding: 10px 0 10px 12px;
}

.search-form-item {
  width: 311px;
  margin: 20px 15px;
}



/*---------- login-form ---------- */

.login-form-wrapper {
  position: absolute;
  top: 32px;
  right: -4px;
  padding-top: 5px;
  display: none;
  z-index: 5;
  /* box-shadow: 0 0 0 3px red; */
}

.login-link:hover + .login-form-wrapper,
.login-link:focus + .login-form-wrapper,
.login-form-wrapper:hover,
.user-menu-item:focus-within > .login-form-wrapper {
  display: block;
}

.login-form {
  width: 277px;
  box-sizing: border-box;
  border-radius: 5.1px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  padding-left: 19px;
  padding-bottom: 20px;;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

.login-form-item {
  width: 241px;
  margin-bottom: 20px;
}

.login-form-button {
  width: 100px;
  border-radius: 20px/25px;
  margin-right: 20px;
}

.login-form-text {
  width: 120px;
  margin: 0;
  padding: 0;
}

.login-form-links {
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  color: #323232;
  text-decoration: underline;
}


/*---------- cart-table-wrapper ---------- */

.cart-table-wrapper {
  display: none;
  position: absolute;
  top: 32px;
  right: 0px;
  padding-top: 4px;
  z-index: 5;
}

.table {
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  width: 540px;
  padding: 16px 13px 0 10px;
  box-sizing: border-box;
}

.cart-table {
  position: relative;
  margin-bottom: 13px;
}

td {
  padding: 0;
  padding-bottom: 17px;
  vertical-align: middle;
  box-sizing: border-box;
}

.cross-big {
  padding-left: 4px;  
}

.remove-button {
  border: none;
  font-size: 0;
  height: 32px;
  background: url("../img/cross-small.svg") no-repeat 50% 50%;
  cursor: pointer;
}

.ice-creame-image-small {
  padding-left: 11px;
}

.small {
  border-radius: 50%; 
}

.ice-creame-name,
.ice-creame-weight,
.total-cost {
  font-size: 13px;
  font-weight: normal;
  color: #323232;
}

.ice-creame-name {
  padding-left: 13px;  
  width: 255px;
}

.ice-creame-cost {
  font-size: 13px;
  font-weight: normal;
  color: #999999;
  width: 77px;
}

.total-cost {
  padding-right: 17px;
}

.finally-cost {
  font-size: 15px;
  font-weight: bold;
  color: #323232;
  padding-top: 13px;
  padding-bottom: 0;
  border-top: 1px solid #cacac7;
  text-align: right; 
}

.cart-button {
  padding: 11px 15px;
  /* display: inline-block; */
  margin-left: 340px;
  margin-bottom: 20px;
}


.cart-link:hover + .cart-table-wrapper,
.cart-link:focus + .cart-table-wrapper,
.cart-table-wrapper:hover,
.user-menu-item:focus-within > .cart-table-wrapper{
  display: block;
}




/*---------- site-info ---------- */


.site-info-wrapper {
  position: absolute;
  right: 0;
  top: 72px;
  /* box-shadow: 0 0 0 3px red; */
  text-align: right;
  padding: 0;
  margin: 0;
}
.work-hours {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}

.phone-number {
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}


/*------------------------------ slider ------------------------------ */

.slider {
  position: relative;
  margin-bottom: -19px;
  z-index: 1;
}

.slider-img {
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.slider div {
  position: absolute;
  bottom: 62px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-title {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  width: 700px;
  text-align: center;
  line-height: 60px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.slider-button {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 30px;
  padding: 19px 41px;
}

/*------------------------------ banner-section ------------------------------ */

.banner-section {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  margin-bottom: 32px;
}

.banner {
  width: 560px;
  border-radius: 15px;
  background: #3f0f0a;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 2;
}

.left-banner {
  background: url("../img/raspberries.jpg") no-repeat 50% 50%;
}

.right-banner {
  background: url("../img/chocolate.jpg") no-repeat 50% 50%;
}

.banner-title {
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

.banner-text {
  font-size: 18px;
  font-weight: bold;
  /* letter-spacing: 0.001em; */
  line-height: 23px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
}

.banner-button {
  align-self: flex-end;
  /* margin-right: 20px; */
  font-size: 18.5px;
  font-weight: bold;
  padding: 11px 22px;
  margin-bottom: 25px;
}

/*------------------------------ hits-section ------------------------------ */

.hits-section {
  margin-left: -13px;
  margin-right: -13px;
}

.hits-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 38px;
}

.hits-list-item {
  width: 293px;
  position: relative;
  padding: 6px 13px 0px 13px;
  border-radius: 5px;
  /* margin-bottom: -50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hits-list-item:hover,
.hits-list-item:focus {
  background: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.hit-image {
  border-radius: 50%;
  margin-bottom: 14px;
}

.hit-price {
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  top: 166px;
}

.hit-price  span {
  font-size: 30px;
}

.hit-name {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  /* margin-bottom: 15px; */
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.fast-view-button {
  padding: 13px 17px;
  /* margin-left: 33px; */
  /* opacity: 0; */
  display: none;
}

.hits-list-item:hover {
  background: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.hits-list-item:hover .fast-view-button {
  /* opacity: 1; */
}

.hits-list-item::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background: url("../img/hit.svg");
  top: 6px;
  left: 13px;
}

/*------------------------------ features-section ------------------------------ */

.features-section {
  /* box-shadow: 0 0 0 3px red; */
  border-radius: 15px;
  background: url("../img/waffle.jpg");
  padding-top: 23px;
  padding-left: 20px;
  padding-bottom: 15px;
  margin-bottom: 43px;
}

.promo-text {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
  padding: 0;
  margin: 0;
  /* box-shadow: 0 0 0 3px red; */
  margin-bottom: 12px;
  /* margin-left: 20px; */
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.features-item {
  width: 540px;
  padding-left: 56px;
  /* box-shadow: 0 0 0 3px red; */
  box-sizing: border-box;
  margin-bottom: 8px;
  padding-top: 13px;
}

.features-item.ice-cream {
  background: url("../img/ice-cream.svg") no-repeat 0% 0%;
}

.features-item.cow {
  background: url("../img/cow.svg") no-repeat 0% 0%;
}

.features-item.eco {
  background: url("../img/eco.svg") no-repeat 0% 0%;
}

.features-item.thermometer {
  background: url("../img/thermometer.svg") no-repeat 0% 0%;
}

.features-item:nth-child(2n+1) {
  margin-right: 26px;
}

.feature-text {
  font-size: 16px;
  font-weight: normal;
  color: #323232;
  padding: 0;
  margin: 0;
  line-height: 22px;
  /* box-shadow: 0 0 0 3px blue; */
}

/*------------------------------ blog-news & subscription-form ------------------------------ */

.small-wrapper {
  /* box-shadow: 0 0 0 3px blue; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news,
.subscription {
  width: 560px;
  border-radius: 15px;
  box-sizing: border-box;
}

/*---------- blog-news ---------- */

.blog-news {
  background: url("../img/blog-back.png") no-repeat 100% 0%, #ffffff;
  background-size: cover;
  color: #323232;
  padding: 23px 0 23px 19px;
}

.article-description {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.artical-title {
  font-size: 24px;
  font-weight: bold;
  width: 285px;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}



/*---------- subscription-form ---------- */

.subscription {
  /* background: repeating-linear-gradient(135deg, white 0, white 5px, blue 5px, blue 10px, white 10px, white 15px, red 15px, red 20px); */
  background: url("../img/bg-post.svg");
  padding: 5px;
}

.subscription-form {
  background: white;
  border-radius: 15px;
  height: 100%;
  padding: 29px 21px 0 22px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

.subscription-text {
  font-size: 16px;
  font-weight: normal;
  color: #5a5a5a;
  line-height: 1.4;
  /* margin-bottom: 8px; */
  display: inline-block;
}

.subscription-form-item {
  width: 368px;
  padding: 12px 0 12px 13px;
}

.subscription-form-button {
  margin-left: auto;
}

/*------------------------------ contact-section ------------------------------ */

.contact-section {
  width: 100%;
  margin-bottom: 18px;
}

.map-wrapper {
  width: 100%;
  overflow: hidden;
  height: 430px;
  /* box-shadow: 0 0 0 3px black; */
}

.map {
  display: block;
  margin: auto;
  z-index: -1;
  /* box-shadow: 0 0 0 3px red; */
  transform: translateY(-135px);
}

.map-wrap iframe {
  z-index: 5;
  margin: auto;
  display: block;
  width:100%;
  /* box-shadow: 0 0 0 3px red; */
}

.company-card-wrapper {
  width: 1146px;
  margin: 0 auto;
  position: relative;
}

.company-card {
  width: 302px;
  height: 305px;
  margin-left: auto;
  background-color: #ffffff;
  padding: 30px 25px 0px 25px;
  position: absolute;
  top: -368px;
  right: 0;
  border-radius: 15px;
  box-sizing: border-box;
}
.company-address {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
}

.contact-description {
  font-size: 14px;
  font-weight: normal;
  color: #323232;
  line-height: 20px;
  display: block;
  width: 180px;
  margin-bottom: 1px;
}

.contact-info {
  font-size: 18px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
  margin-bottom: 3px;
  display: block;
}

.company-phone .contact-description {
  margin-bottom: 3px;
}

.company-phone {
  margin-bottom: 23px;
}

.feedback-button {
  display: block;
}

/*------------------------------ main-footer ------------------------------ */

/*---------- social-list ---------- */

footer .wrapper {
  display: flex;
  /* box-shadow: 0 0 0 3px red; */
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 29px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 190px;
  /* box-shadow: 0 0 0 3px green; */
}

.social-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
}

.social-icon {
  fill: rgba(255, 255, 255, 0.8);
}

.social-button:hover .social-icon,
.social-button:focus .social-icon {
  fill: rgba(255, 255, 255, 1);
}

.social-button:active .social-icon {
  fill: rgba(233, 233, 233, 0.8);
  /* border: 3px solid rgba(255, 255, 255, 0.5); */
}


/*---------- information-list ---------- */

.information-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -4px;
  width: 300px;
  justify-content: space-between;
}

.information-column {
  list-style: none;
  margin: 0;
  padding: 0;
  /* margin-right: 15px; */
}

.information-item:not(:last-child) {
  margin-bottom: 4px;
}

.information-link {
  font-size: 13px;
  font-weight: normal;
  position: relative;
}

.heart::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  width: 15px;
  height: 13px;
  background: url("../img/heart.svg") 50% 50% no-repeat;
}

/*---------- footer-copyright ---------- */

.footer-copyright {
  width: 190px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer-copyright-logo {
  margin-bottom: 1px;
}

.studio-block-text {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.studio-block-text .link {
  font-size: inherit;
  font-weight: inherit;
}

/*------------------------------ write-to-us ------------------------------ */

.write-to-us {
  width: 478px;
  background-color: #f8f7f4;
  position:fixed;
  top: 50%;
  left: 50%;
  z-index: 15;
  margin-left: -238px;
  border-radius: 10px;
  margin-top: -139px;
  padding: 15px 26px 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
}

.write-to-us-form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* background: red; */
}

.modal-title {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  /* widows: 400px; */
}

.write-to-us-form-item {
  width: 267px;
  margin-bottom: 20px;
  font-family: inherit;
    
}

.write-to-us-form textarea {
  width: 428px;
  margin-bottom: 25px;
  /* font-size: inherit; */
}

.write-to-us-button {
  align-self: flex-end;
  margin-bottom: 27px;
  padding: 10px 22px;
}

.write-to-us-close {
  font-size: 0;
  border: none;
  width: 18px;
  height: 17px;
  background: url("../img/cross-big.svg") 50% 50% no-repeat;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}


.show-modal {
  display: flex;
}